{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div class="card">
            <div class="card-header">
            <h5 class="card title">Blog Update</h5>
            </div>
            <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 {{form.as_p}}
                <input type="submit" value="UPDATE" class="btn btn-success">
            </form>
            </div>
        </div>

{% endblock %}

